body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16 px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  padding: 24px 0;
  margin-right: 120px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.symbol-defs-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.symbol-defs-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .symbol-defs-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    gap: 40px;
    display: flex;
    align-items: center;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*mobile menu*/

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 0;
  background-color: #e7e9fc;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-menu {
  margin-bottom: auto;
}

.mobile-nav-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #404bbf;
  margin-bottom: 40px;
}

.menu-portfolio {
  margin-bottom: 40px;
}

.menu-contacts {
  margin-bottom: 168px;
}

.mobile-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-address-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mobile-address-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 24px;
}

.menu-icon-item {
  width: 40px;
  height: 40px;
}

.menu-icon-list {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-self: start;
}

.menu-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-link:hover,
.menu-icon-link:focus {
  background-color: #404bbf;
}

.menu-icons {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* hero */

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img/people-office-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  width: 320px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/people-office-mobile-2x.jpg);
  }
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/people-office-tablet-1x.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img/people-office-tablet-2x.jpg);
    }
  }
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 36px;
  max-width: 496px;
}

@media screen and (min-width: 1158px) {
  .hero {
    width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/people-office-screen-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img/people-office-screen-2x.jpg);
    }
  }
}

.hero-title {
  margin-bottom: 48px;
}

/* features-section */

.features-section {
  margin: 0 auto;
  width: 320px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.container-features-section {
  padding-left: 16px;
  padding-right: 16px;
}

.features {
  text-align: center;
  text-transform: capitalize;
}

.features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-wrap: wrap;
  gap: 72px;
}

.container-subtitle-icon {
  display: none;
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .features-section {
    width: 768px;
  }
}

.features-list {
  gap: 72px 24px;
}

.features-item {
  width: calc((100% - 72px) / 2);
  padding-right: 0;
  width: 356px;
}

.features-subtitle {
  text-align: start;
}

@media screen and (min-width: 1158px) {
  .features-section {
    width: 1158px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-features-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .features-list {
    justify-content: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .container-subtitle-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    background-color: #f4f4fd;
    border-color: #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subtitle-icon {
    fill: #2e2f42;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-item-text {
    font-weight: 400;
  }